<configuration>
    <system.webServer>
    <rewrite>
      <rules>
        <rule name="backend" stopProcessing="true">
          <match url="^(backend)(.*)$" />
          <action type="None" />
        </rule>
        <rule name="Vuejs rules" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>