@include susy-breakpoint(1280px, 12) {
	#intro {
		height: calc( 100vh - 80px );
	}

	#intro-brand {
		height: 100vh;
		.table {
			height: 100%;
			img {
				display: none;
			}
		}
		.title {
			h1 {
				padding-top: 5em;
			}
		}
	}
	#intro-product {
		height: 100vh;
		box-sizing: border-box;
		padding: 2em 0;
	}
	#intro-news {
		height: 100vh;
	}
	.news-list {
		.news-item {
			@include gallery(3 of 12 .5);
		}
	}

}