@include susy-breakpoint(768px, 12) {
	#intro {
		// height: 60vh;
	}
	.news-list {
		.news-item {
			@include gallery(6 of 12);
		}
	}
	#footer {
		.footer-inner {
			.block {
				@include span(4 of 12);
				margin: 0;
				text-align: left;
				&:last-child {
					@include span(8 of 12);
					text-align: right;
					@include last;
				}
			}
		}
	}
}