@import "sprite";

*[class^="icons-"] {
	display: inline-block;
	vertical-align: middle;
}
//Icons using retina-sprites mixin
// .icons-mobile-btn {
// 	@include sprite($mobile-menu);
// }


.share-component {
	a {
		width: 50px;
		height: 50px;
		background-color: $white;
		margin-right: .5em;
		color: $gray;
		display: inline-block;
		vertical-align: middle;
		line-height: 50px;
		text-align: center;
		transition: .3s all ease;
		&:hover {
			color: $main;
			background-color: $black;
		}
	}
}