//BUTTONS
.call-action {
  padding: 2em 0;
}
.btn {
  @extend .transition;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  outline: none;
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  & + .btn {
    margin-left: .5em;
  }
  &.full {
    width: 100%;
  }
  &.basic {
    background-color: $main;
    color: $white;
    padding: .5em 2em;
    &:hover {
      background-color: $main-dark;
    }
    &:active {
      background-color: darken($main-dark, 10%);
    }
  }
  &.frame {
    border: 1px solid $main;
    color: $main;
    &:hover {
      background-color: $main;
      color: $white;
    }
    &:active {
      background-color: darken($main-dark, 10%);
    }
  }
  &.reverse {
    background-color: $main-dark;
    color: $white;
    &:hover {
      background-color: $main;
      color: $white;
    }
    &:active {
      background-color: darken($main-dark, 10%);
    }
  }
  //Gredient
  &.gradient {
    &.yellow {
      color: $black;
      background-color: #ffd150;
      // @include background-image(linear-gradient( 0deg, #ffb600 2%, #ffecb8 100%));
      &:hover {
        background-image: inherit;
      }
    }
  }
  &.bordered {
    border: 1px solid $main;
    color: $main;
    padding: .5em 2em;
    &:hover {
      background-color: $main;
      color: $black;
    }
  }
  &.rounded {
    border-radius: 22px;
    background-color: $gray;
    color: $white;
    padding: .7em 2em;
    &:hover {
      background-color: $main;
    }
    &.green {
      background-color: $main;
      &:hover {
        background-color: $white;
        color: $main;
      }
    }
    span {
      display: inline-block;
      vertical-align: middle;
      margin: 0 .5em;
    }
  }
  &.btn-with-icon {
    border: 2px solid $main;
    color: $main;
    padding: 0;
    text-align: center;
    font-size: 0;
    margin: 0 .6rem;
    box-sizing: border-box;
    cursor: pointer;
    span {
      display: inline-block;
      vertical-align: middle;
      border-right: 2px solid $main;
      font-size: 1rem;
      padding: 0 2em;
      box-sizing: border-box;
    }
    .fa {
      color: $main;
      vertical-align: middle;
      font-size: 1rem;
      padding: 0 .5em;
      box-sizing: border-box;
      line-height: 25px;
    }
    &:hover {
      background-color: $main;
      color: $white;
      .fa {
        transition: .3s all ease-in;
        color: $white;
        background-color: $main;
      }
    }
    &.dark {
      border-color: $black;
      color: $black;
      span {
        border-color: $black;
      }
      .fa {
        color: $black;
      }
      &:hover {
        background-color: $black;
        color: $white;
        .fa {
          background-color: $black;
          color: $white;
        }
      }
    }
    &.white {
      border-color: $white;
      color: $white;
      span {
        border-color: $white;
      }
      .fa {
        color: $white;
      }
      &:hover {
        background-color: $white;
        color: $black;
        .fa {
          background-color: $white;
          color: $black;
        }
      }
    }
  }
}
