//Layout Restrictions
.restrict-xl {
	max-width: 1680px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 1rem;
}
.restrict-large {
	max-width: 1440px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 1rem;
}
.restrict-mid {
	max-width: 1280px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 1rem;
}
.restrict {
	max-width: 960px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 1rem;
}
.restrict-small {
	max-width: 670px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 1rem;
}
.restrict-tiny {
	max-width: 550px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 1rem;
}
.row {
	@extend .clr;	
}

.middler-wrapper {
	height: 100%;
	font-size: 0;
	text-align: center;
	&:before {
		content: '';
		display: inline-block;
		vertical-align: middle;
		width: 0;
		height: 100%;
	}
	.middler {
		width: 97%;
		font-size: 1rem;
		display: inline-block;
		vertical-align: middle;
	}
}
