.transition {
  transition: .3s all ease-in-out;
}
.clr {
  &:before, &:after {
    content:'';
    clear: both;
    display: block;
  }
}

.middler-wrapper {
  &:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
  }
  .middler {
    display: inline-block;
    vertical-align: middle;
  }
}